
.multiField__title {
  text-align: left;
}
.multiField__actions {
  text-align: right;
}
.multiField-rules__actions {
  text-align: right;
}
.multiField-rules__content {
  padding-top: 20px;
}
.multiField-rules__content__rules {
  display: flex;
  flex-flow: row;
}
